/* File: automatic-tokens.css - Version: 4.0.0-dev-28 - Generated: 2025-11-11 15:28:06 */
/* Feat: Text, Headings, & Spacing */
:root {
  --root-font-size: 100%;
}
:root, .color-scheme--main {
  --primary-hex: #ffc300;
  --primary-hsl: 46 100% 50%;
  --primary-rgb: 255 195 0;
  --primary-r: 255;
  --primary-g: 195;
  --primary-b: 0;
  --primary-h: 46;
  --primary-s: 100%;
  --primary-l: 50%;
  --primary-hover-h: 46;
  --primary-hover-s: 100%;
  --primary-hover-l: 57%;
  --primary-ultra-light-h: 46;
  --primary-ultra-light-s: 100%;
  --primary-ultra-light-l: 95%;
  --primary-light-h: 46;
  --primary-light-s: 100%;
  --primary-light-l: 85%;
  --primary-semi-light-h: 46;
  --primary-semi-light-s: 100%;
  --primary-semi-light-l: 65%;
  --primary-semi-dark-h: 46;
  --primary-semi-dark-s: 100%;
  --primary-semi-dark-l: 35%;
  --primary-dark-h: 46;
  --primary-dark-s: 100%;
  --primary-dark-l: 25%;
  --primary-ultra-dark-h: 46;
  --primary-ultra-dark-s: 100%;
  --primary-ultra-dark-l: 10%;
  --base-hex: #27313f;
  --base-hsl: 215 24% 20%;
  --base-rgb: 39 49 63;
  --base-r: 39;
  --base-g: 49;
  --base-b: 63;
  --base-h: 215;
  --base-s: 24%;
  --base-l: 20%;
  --base-hover-h: 215;
  --base-hover-s: 24%;
  --base-hover-l: 23%;
  --base-ultra-light-h: 215;
  --base-ultra-light-s: 24%;
  --base-ultra-light-l: 95%;
  --base-light-h: 215;
  --base-light-s: 24%;
  --base-light-l: 85%;
  --base-semi-light-h: 215;
  --base-semi-light-s: 24%;
  --base-semi-light-l: 65%;
  --base-semi-dark-h: 215;
  --base-semi-dark-s: 24%;
  --base-semi-dark-l: 35%;
  --base-dark-h: 215;
  --base-dark-s: 24%;
  --base-dark-l: 15%;
  --base-ultra-dark-h: 215;
  --base-ultra-dark-s: 24%;
  --base-ultra-dark-l: 10%;
  --neutral-hex: #000000;
  --neutral-hsl: 0 0% 0%;
  --neutral-rgb: 0 0 0;
  --neutral-r: 0;
  --neutral-g: 0;
  --neutral-b: 0;
  --neutral-h: 0;
  --neutral-s: 0%;
  --neutral-l: 0%;
  --neutral-hover-h: 0;
  --neutral-hover-s: 0%;
  --neutral-hover-l: 0%;
  --neutral-ultra-light-h: 0;
  --neutral-ultra-light-s: 0%;
  --neutral-ultra-light-l: 95%;
  --neutral-light-h: 0;
  --neutral-light-s: 0%;
  --neutral-light-l: 85%;
  --neutral-semi-light-h: 0;
  --neutral-semi-light-s: 0%;
  --neutral-semi-light-l: 65%;
  --neutral-semi-dark-h: 0;
  --neutral-semi-dark-s: 0%;
  --neutral-semi-dark-l: 35%;
  --neutral-dark-h: 0;
  --neutral-dark-s: 0%;
  --neutral-dark-l: 25%;
  --neutral-ultra-dark-h: 0;
  --neutral-ultra-dark-s: 0%;
  --neutral-ultra-dark-l: 10%;
  --primary: #ffc300;
  --primary-hover: #ffcc24;
  --primary-ultra-light: #fff9e6;
  --primary-light: #ffedb3;
  --primary-semi-light: #ffd54d;
  --primary-semi-dark: #b38900;
  --primary-dark: #806200;
  --primary-ultra-dark: #332700;
  --base: #27313f;
  --base-hover: #2d3849;
  --base-ultra-light: #eff2f5;
  --base-light: #d0d7e2;
  --base-semi-light: #90a2bb;
  --base-semi-dark: #44566f;
  --base-dark: #1d252f;
  --base-ultra-dark: #131820;
  --neutral: #000000;
  --neutral-hover: black;
  --neutral-ultra-light: #f2f2f2;
  --neutral-light: #d9d9d9;
  --neutral-semi-light: #a6a6a6;
  --neutral-semi-dark: #595959;
  --neutral-dark: #404040;
  --neutral-ultra-dark: #1a1a1a;
  --white: #fff;
  --black: #000;
  --shade-white: #fff;
  --shade-black: #000;
  --heading-color: var(--text-dark);
}
/* Feat: Default Section Styles */
:root {
  --content-width: 85.375rem;
  --content-width-safe: min(var(--content-width), calc(100% - var(--gutter) * 2));
}
/* Feat: Focus Styles */
:root {
  --focus-color: var(--primary);
  --focus-width: 2px;
  --focus-offset: 2px;
}
/* Feat: Text Defaults */
:root {
  --text-xxl-max-width: 100%;
  --text-xl-max-width: 100%;
  --text-l-max-width: 100%;
  --text-m-line-height: calc(6px + 2ex);
  --text-m-max-width: 100%;
  --text-s-max-width: 100%;
  --text-xs-max-width: 100%;
  --base-text-lh: calc(6px + 2ex);
  --text-font-family: Switzer, Sans Serif;
  --text-color: var(--text-light);
  --text-line-height: calc(6px + 2ex);
  --text-font-weight: 300;
  --text-text-wrap: pretty;
}
/* Feat: Heading Defaults */
:root {
  --heading-font-family: Switzer, Sans Serif;
  --heading-color: var(--text-dark);
  --heading-line-height: calc(4px + 2ex);
  --heading-font-weight: 500;
  --heading-text-wrap: pretty;
  --base-heading-lh: calc(4px + 2ex);
  --h1-max-width: 100%;
  --h4-line-height: calc(4px + 2ex);
}
/* Feat: Text Size Variables */
:root {
  --text-xs: clamp(0.75rem, calc(-0.073993329vw + 0.766648499rem), 0.7034766944rem);
  --text-s: clamp(0.8125rem, calc(0.1991800137vw + 0.7676844969rem), 0.9377344336rem);
  --text-m: clamp(1rem, calc(0.3976143141vw + 0.9105367793rem), 1.25rem);
  --text-l: clamp(1.2rem, calc(0.7415506958vw + 1.0331510934rem), 1.66625rem);
  --text-xl: clamp(1.44rem, calc(1.2423240557vw + 1.1604770875rem), 2.22111125rem);
  --text-xxl: clamp(1.728rem, calc(1.96062234vw + 1.2868599735rem), 2.9607412963rem);
}
/* Feat: Heading Size Variables */
:root {
  --h6: clamp(0.75rem, calc(0.0378916323vw + 0.7414743827rem), 0.7738243638rem);
  --h5: clamp(0.8125rem, calc(0.3483226671vw + 0.7341273999rem), 1.031507877rem);
  --h4: clamp(1.125rem, calc(0.3976143141vw + 1.0355367793rem), 1.375rem);
  --h3: clamp(1.35rem, calc(0.7679920477vw + 1.1772017893rem), 1.832875rem);
  --h2: clamp(1.62rem, calc(1.3093vw + 1.3254075rem), 2.443222375rem);
  --h1: clamp(1.944rem, calc(2.0879768205vw + 1.4742052154rem), 3.2568154259rem);
}
/* Feat: Default Section Styles */
:root {
  --section-padding-block: var(--section-space-m);
  --gutter: clamp(1rem, calc(6.3618290258vw + -0.4314115308rem), 5rem);
}
/* Feat: Space Variables */
:root {
  --space-xs: clamp(0.8441720333rem, calc(-0.0172384889vw + 0.8480506933rem), 0.8333333333rem);
  --space-s: clamp(1.1252813203rem, calc(0.1983597291vw + 1.0806503813rem), 1.25rem);
  --space-m: clamp(1.5rem, calc(0.5964214712vw + 1.365805169rem), 1.875rem);
  --space-l: clamp(1.9995rem, calc(1.2930417495vw + 1.7085656064rem), 2.8125rem);
  --space-xl: clamp(2.6653335rem, calc(2.4706425447vw + 2.1094389274rem), 4.21875rem);
  --space-xxl: clamp(3.5528895555rem, calc(4.4138933511vw + 2.5597635515rem), 6.328125rem);
}
/* Feat: Section Space Variables */
:root {
  --section-space-xs: clamp(1.6883440665rem, calc(1.2909040692vw + 1.3978906509rem), 2.5rem);
  --section-space-s: clamp(2.2505626407rem, calc(2.3847910288vw + 1.7139846592rem), 3.75rem);
  --section-space-m: clamp(3rem, calc(4.1749502982vw + 2.0606361829rem), 5.625rem);
  --section-space-l: clamp(3.999rem, calc(7.0592445328vw + 2.4106699801rem), 8.4375rem);
  --section-space-xl: clamp(5.330667rem, calc(11.6510266402vw + 2.709186006rem), 12.65625rem);
  --section-space-xxl: clamp(7.105779111rem, calc(18.8923990282vw + 2.8549893296rem), 18.984375rem);
}
/* Feat: Contextual Space Variables */
:root {
  --content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
}
/* Feat: Width Variables */
:root {
  --width-10: calc(var(--content-width) * 0.1);
  --width-20: calc(var(--content-width) * 0.2);
  --width-30: calc(var(--content-width) * 0.3);
  --width-40: calc(var(--content-width) * 0.4);
  --width-50: calc(var(--content-width) * 0.5);
  --width-60: calc(var(--content-width) * 0.6);
  --width-70: calc(var(--content-width) * 0.7);
  --width-80: calc(var(--content-width) * 0.8);
  --width-90: calc(var(--content-width) * 0.9);
  --width-full: calc(var(--content-width) * 100%);
}
/* Feat: Grid Variables */
:root {
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);
}
/* Feat: Auto Grid Variables */
:root {
  --grid-auto-2: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((2 - 1) * var(--grid-gap))) / 2) * 0.7, (100% - (2 - 1) * var(--grid-gap)) / 2)), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((3 - 1) * var(--grid-gap))) / 3) * 0.7, (100% - (3 - 1) * var(--grid-gap)) / 3)), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((4 - 1) * var(--grid-gap))) / 4) * 0.7, (100% - (4 - 1) * var(--grid-gap)) / 4)), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((5 - 1) * var(--grid-gap))) / 5) * 0.7, (100% - (5 - 1) * var(--grid-gap)) / 5)), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((6 - 1) * var(--grid-gap))) / 6) * 0.7, (100% - (6 - 1) * var(--grid-gap)) / 6)), 1fr));
  --grid-auto-7: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((7 - 1) * var(--grid-gap))) / 7) * 0.7, (100% - (7 - 1) * var(--grid-gap)) / 7)), 1fr));
  --grid-auto-8: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((8 - 1) * var(--grid-gap))) / 8) * 0.7, (100% - (8 - 1) * var(--grid-gap)) / 8)), 1fr));
  --grid-auto-9: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((9 - 1) * var(--grid-gap))) / 9) * 0.7, (100% - (9 - 1) * var(--grid-gap)) / 9)), 1fr));
  --grid-auto-10: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((10 - 1) * var(--grid-gap))) / 10) * 0.7, (100% - (10 - 1) * var(--grid-gap)) / 10)), 1fr));
  --grid-auto-11: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((11 - 1) * var(--grid-gap))) / 11) * 0.7, (100% - (11 - 1) * var(--grid-gap)) / 11)), 1fr));
  --grid-auto-12: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((12 - 1) * var(--grid-gap))) / 12) * 0.7, (100% - (12 - 1) * var(--grid-gap)) / 12)), 1fr));
  --auto-grid-aggressiveness: 0.7;
}
/* Feat: Header Height Variables */
:root {
  --header-height: 0rem;
  --header-height-xl: 0rem;
  --header-height-l: 0rem;
  --header-height-m: 0rem;
  --header-height-s: 0rem;
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
}
@media (max-width: 1366px) {
  :root {
    --header-height: var(--header-height-xl);
  }
}
/* Feat: Smart Spacing */
:root {
  --paragraph-spacing: 1em;
  --heading-spacing: 1.2em;
  --list-spacing: var(--paragraph-spacing);
  --list-indent-spacing: 2em;
  --list-item-spacing: 0.5em;
  --nested-list-indent-spacing: 1em;
  --flow-spacing: var(--paragraph-spacing);
  --figure-spacing: var(--paragraph-spacing);
  --figcaption-spacing: 0.5em;
  --blockquote-spacing: var(--paragraph-spacing);
}
/* Feat: Buttons */
:root {
  --option-primary-btn-outline: on;
  --option-secondary-btn-outline: on;
  --btn-padding-block: 0.5em;
  --btn-padding-inline: 1.25em;
  --btn-min-width: 8.75rem;
  --btn-width: max-content;
  --btn-line-height: 1;
  --btn-font-size: var(--text-m);
  --btn-font-weight: 400;
  --btn-font-style: normal;
  --btn-text-decoration: none;
  --btn-text-decoration-hover: none;
  --btn-letter-spacing: 0;
  --btn-text-transform: none;
  --btn-border-width: 2px;
  --btn-outline-border-width: 2px;
  --btn-border-style: solid;
  --btn-border-radius: var(--radius);
  --btn-radius: var(--radius);
  --btn-justify-content: center;
  --btn-text-align: center;
}
/* Feat: Link Variables */
:root {
  --link-color: var(--primary);
  --link-color-hover: var(--primary-hover);
  --link-transition: var(--transition);
  --link-decoration: inherit;
  --link-decoration-hover: inherit;
  --link-underline-offset: auto;
  --link-weight: inherit;
}
:root {
  --card-padding: var(--space-s);
  --card-gap: calc(var(--content-gap) / 3);
  --card-border-width: var(--border-width);
  --card-border-style: solid;
  --card-display: flex;
  --card-radius: var(--radius);
  --card-heading-size: var(--h3);
  --card-text-size: var(--text-m);
  --card-button-font-size: var(--text-m);
  --card-icon-size: 68px;
  --card-line-height: 1.4;
  --card-avatar-radius: var(--radius);
  --card-avatar-border-width: var(--border-width);
  --card-avatar-border-style: var(--border-style);
  --card-avatar-size: 300px;
  --card-avatar-aspect-ratio: 1;
  --card-media-radius: var(--radius);
  --card-media-aspect-ratio: calc(4 / 3);
  --card-media-object-fit: cover;
  --card-icon-radius: var(--icon-radius);
}
:root, .color-scheme--main, .color-scheme--alt {
  --light-card-background: var(--white);
  --light-card-background-hover: var(--light-card-background);
  --light-card-heading-color: var(--text-dark);
  --light-card-text-color: var(--text-dark);
  --light-card-link-color: var(--text-dark);
  --light-card-link-color-hover: var(--neutral-ultra-dark);
  --light-card-button-style: primary;
  --light-card-border-color: var(--border-color-dark);
  --light-card-shadow: var(--box-shadow-m);
  --dark-card-background: var(--base-dark);
  --dark-card-background-hover: var(--dark-card-background);
  --dark-card-heading-color: var(--text-light);
  --dark-card-text-color: var(--text-light);
  --dark-card-link-color: var(--neutral-ultra-dark);
  --dark-card-link-color-hover: var(--neutral-ultra-dark);
  --dark-card-button-style: primary;
  --dark-card-border-color: var(--base-semi-dark);
}
/* Feat: Column Variables */
:root {
  --col-width-s: 13rem;
  --col-width-m: 25rem;
  --col-width-l: 38rem;
  --col-rule-width-s: 0.5px;
  --col-rule-width-m: 1px;
  --col-rule-width-l: 3px;
}
/* Feat: Sticky Variables */
:root {
  --sticky-offset-custom: 60px;
  --sticky-offset: var(--header-height, var(--sticky-offset-custom, 0));
}
/* Contextual Text Color Variables */
:root, .color-scheme--main {
  --body-color: var(--base-ultra-dark);
  --bg-ultra-light: var(--base-ultra-light);
  --bg-light: var(--base-light);
  --bg-dark: var(--base-dark);
  --bg-ultra-dark: var(--base-ultra-dark);
  --text-light: var(--white);
  --text-light-muted: var(--white-trans-80);
  --text-dark: var(--text-light);
  --text-dark-muted: var(--black-trans-80);
}
/* Feat: Contextual Relationship Variables */
:root, .color-scheme--main {
  --body-bg-color: var(--base-ultra-dark);
  --bg-ultra-light-text: var(--text-dark);
  --bg-light-text: var(--text-dark);
  --bg-dark-text: var(--text-light);
  --bg-ultra-dark-text: var(--text-light);
  --bg-ultra-light-heading: var(--text-dark);
  --bg-light-heading: var(--text-dark);
  --bg-dark-heading: var(--text-light);
  --bg-ultra-dark-heading: var(--text-light);
  --bg-ultra-light-button: primary;
  --bg-light-button: primary;
  --bg-dark-button: primary;
  --bg-ultra-dark-button: primary;
}
/* Feat: Radius Variables */
:root {
  --radius: 5px;
  --radius-50: 50%;
  --radius-circle: 50vw;
  --radius-none: 0;
  --radius-xs: 2.2222222222px;
  --radius-s: 3.3333333333px;
  --radius-m: 5px;
  --radius-l: 7.5px;
  --radius-xl: 11.25px;
  --radius-xxl: 16.875px;
}
/* Feat: Border Variables */
:root {
  --border-size: 1px;
  --border-width: 1px;
  --border-style: solid;
  --border-color-dark: var(--black-trans-20);
  --border-color-light: var(--white-trans-20);
  --border: var(--border-size) var(--border-style) var(--border-color-dark);
  --border-light: var(--border-size) var(--border-style) var(--border-color-light);
  --border-dark: var(--border-size) var(--border-style) var(--border-color-dark);
}
/* Feat: Divider Variables */
:root {
  --divider-size: 1px;
  --divider-style: solid;
  --divider-inline-size: 100%;
  --divider-gap: var(--content-gap);
  --divider-color-dark: var(--black-trans-20);
  --divider-color-light: var(--white-trans-20);
  --divider: var(--divider-size) var(--divider-style) var(--divider-color-dark);
  --divider-light: var(--divider-size) var(--divider-style) var(--divider-color-light);
  --divider-dark: var(--divider-size) var(--divider-style) var(--divider-color-dark);
}
/* Feat: Transition Variables */
:root {
  --transition-duration: 0.5s;
  --transition-timing: ease-in-out;
  --transition-delay: 0s;
  --transition: 0.5s ease-in-out 0s;
}
:root {
  --overlay-1-name: 1;
  --overlay-1-type: none;
  --overlay-1-opacity: 0.7;
  --overlay-1-background-attachment: static;
  --overlay-1-background-repeat: repeat;
  --overlay-1-inset: 0;
  --overlay-1-isActive: false;
  --overlay-2-name: 2;
  --overlay-2-type: none;
  --overlay-2-opacity: 0.7;
  --overlay-2-background-attachment: static;
  --overlay-2-background-repeat: repeat;
  --overlay-2-inset: 0;
  --overlay-2-isActive: false;
  --overlay-3-name: 3;
  --overlay-3-type: none;
  --overlay-3-opacity: 0.7;
  --overlay-3-background-attachment: static;
  --overlay-3-background-repeat: repeat;
  --overlay-3-inset: 0;
  --overlay-3-isActive: false;
  --overlay-4-name: 4;
  --overlay-4-type: none;
  --overlay-4-opacity: 0.7;
  --overlay-4-background-attachment: static;
  --overlay-4-background-repeat: repeat;
  --overlay-4-inset: 0;
  --overlay-4-isActive: false;
  --overlay-5-name: 5;
  --overlay-5-type: none;
  --overlay-5-opacity: 0.7;
  --overlay-5-background-attachment: static;
  --overlay-5-background-repeat: repeat;
  --overlay-5-inset: 0;
  --overlay-5-isActive: false;
}
:root {
  --icon-size: 32px;
  --icon-padding: 0.35em;
  --icon-radius: var(--radius);
  --icon-background: var(--primary-light);
  --icon-background-hover: var(--primary-ultra-light);
  --icon-border-color: var(--primary-dark-trans-10);
  --icon-border-color-hover: var(--primary-dark-trans-10);
  --icon-border-width: var(--border-width);
  --icon-border-style: var(--border-style);
  --icon-color: var(--primary-dark);
  --icon-color-hover: var(--primary-semi-dark);
  --icon-list-icon-size: 1em;
  --icon-list-gap: 1em;
  --icon-light-color: var(--primary-light);
  --icon-light-color-hover: var(--primary-ultra-light);
  --icon-light-background: var(--primary-dark);
  --icon-light-background-hover: var(--primary-ultra-dark);
  --icon-light-border-color: var(--primary-dark-trans-10);
  --icon-light-border-color-hover: var(--primary-dark-trans-10);
  --icon-dark-color: var(--primary-dark);
  --icon-dark-color-hover: var(--primary-semi-dark);
  --icon-dark-background: var(--primary-light);
  --icon-dark-background-hover: var(--primary-ultra-light);
  --icon-dark-border-color: var(--primary-dark-trans-10);
  --icon-dark-border-color-hover: var(--primary-dark-trans-10);
  --icon-size-s: 16px;
  --icon-size-m: 32px;
  --icon-size-l: 64px;
  --icon-padding-s: var(--icon-padding);
  --icon-padding-m: var(--icon-padding);
  --icon-padding-l: var(--icon-padding);
  --icon-border-color: var(--icon-light-border-color);
  --icon-border-color-hover: var(--icon-light-border-color-hover);
}
/* Feat: Box Shadow Variables */
:root {
  --box-shadow-m: 0 0 40px var(--black-trans-10);
  --box-shadow-l: 0 0 60px var(--black-trans-20);
  --box-shadow-xl: 0 0 80px var(--black-trans-30);
  --box-shadow-1: 0 0 40px var(--black-trans-10);
  --box-shadow-2: 0 0 60px var(--black-trans-20);
  --box-shadow-3: 0 0 80px var(--black-trans-30);
}
/* Feat: Form Variables */
