/**
 * Theme Name:     Etch Theme Child
 * Author:         Digital Gravy
 * Template:       etch-theme
 * Text Domain:	   etch-theme-child
 * Description:    Your unified development environment for WordPress.
 */
